<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="#" class="btn btn-primary">cart</a>
<a href="/users/login" class="btn btn-danger">login</a>
<a href="/videos" class="btn btn-success">checkout the videos</a>

