<a href="#" class="btn btn-primary">videos</a>
    <a href="#" class="btn btn-warning">cart</a>
<a href="#" class="btn btn-danger">login</a>
<a href="#" class="btn btn-primary">Add to Cart</a>
<a href="#" class="btn btn-danger">View Video Page</a>